
.banner-container {
  position: relative;
}

.banner-image {
  object-fit: cover;
  height: 400px; 
}

.carousel-caption.banner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 90%; 
}

.carousel-caption.banner-overlay h2 {
  font-size: 1.8rem;

}

.carousel-caption.banner-overlay p {
  font-size: 1rem; 
 
  
    top: 40%; 
    
}

.carousel-caption.banner-overlay .btn {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}


@media (max-width: 768px) {
  .banner-image {
    height: 300px; 
  }
  .carousel-caption.banner-overlay h2 {
    font-size: 1.4rem;
  }
  .carousel-caption.banner-overlay p {
    font-size: 0.9rem;
  }
}